Repository chenmeilong/FileMaster-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": ["prettier --write", "eslint --fix"],
  "*.css": ["stylelint --fix", "prettier --write"]
}

refactor: js=>ts
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.css
  src/App.tsx
  src/Data/Config.ts
  src/Data/FilesConfig.ts
  src/FileManager/Assets/PerfectScroll.css
  src/FileManager/Assets/tui-image-editor.css
  src/FileManager/Assets/whiteTheme.js
  src/FileManager/ContainerBar.tsx
  src/FileManager/Elements/ButtonGroup.tsx
  src/FileManager/Elements/ButtonGroupSimple.tsx
  src/FileManager/Elements/Dropzone.tsx
  src/FileManager/Elements/ImageEditor.tsx
  src/FileManager/Elements/InfoBoxes.tsx
  src/FileManager/Elements/InputField.tsx
  src/FileManager/Elements/PopupDialog.tsx
  src/FileManager/Elements/Styles.tsx
  src/FileManager/Elements/TopBarButtonGroups.tsx
  src/FileManager/FileManager.tsx
  src/FileManager/FolderBar.tsx
  src/FileManager/TopBar.tsx
  src/FileManager/ViewItems.tsx
  src/FileManager/types.d.ts
  src/Redux/actions/filemanager.ts
  src/Redux/actions/index.ts
  src/Redux/middleware/api.ts
  src/Redux/reducers/filemanager.ts
  src/Redux/reducers/index.ts
  src/Redux/store/filemanager.ts
  src/Redux/store/index.ts
  src/Redux/store/types.d.ts
  src/Utils/Utils.ts
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/pages/home.tsx
  src/types.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

style: add annotation
  index.html
  src/App.tsx
  src/Data/FilesConfig.ts
  src/FileManager/ContainerBar.tsx
  src/FileManager/Elements/ButtonGroup.tsx
  src/FileManager/Elements/ButtonGroupSimple.tsx
  src/FileManager/Elements/Dropzone.tsx
  src/FileManager/Elements/ImageEditor.jsx
  src/FileManager/Elements/InfoBoxes.tsx
  src/FileManager/Elements/InputField.tsx
  src/FileManager/Elements/PopupDialog.tsx
  src/FileManager/Elements/Styles.tsx
  src/FileManager/Elements/TopBarButtonGroups.tsx
  src/FileManager/Elements/test.tsx
  src/FileManager/FileManager.tsx
  src/FileManager/FolderBar.tsx
  src/FileManager/TopBar.tsx
  src/FileManager/ViewItems.tsx
  src/FileManager/types.d.ts
  src/Redux/actions/filemanager.ts
  src/Redux/actions/index.ts
  src/Redux/middleware/api.ts
  src/Redux/reducers/filemanager.ts
  src/Redux/reducers/index.ts
  src/Redux/store/filemanager.ts
  src/Redux/store/index.ts
  src/Redux/store/types.d.ts
  src/Utils/Utils.ts
  src/main.tsx
  src/types.d.ts
Due: prettier --write, eslint --fix

feat: add message
  src/FileManager/ContainerBar.tsx
  src/FileManager/Elements/InfoBoxes.tsx
  src/FileManager/FileManager.tsx
  src/FileManager/types.d.ts
  src/Redux/actions/common.ts
  src/Redux/actions/index.ts
  src/Redux/middleware/api.ts
  src/Redux/reducers/common.ts
  src/Redux/reducers/index.ts
  src/Redux/store/common.ts
  src/Redux/store/index.ts
  src/Redux/store/types.d.ts
  src/types.d.ts
Due: prettier --write, eslint --fix

fix: order issue
  src/FileManager/Elements/InfoBoxes.tsx
  src/FileManager/TopBar.tsx
  src/Redux/reducers/filemanager.ts
Due: prettier --write, eslint --fix

fix: dialog cancel invalid
  src/FileManager/Elements/PopupDialog.tsx
  src/FileManager/FileManager.tsx
  src/FileManager/types.d.ts
Due: prettier --write, eslint --fix

refactor: 重构拖动功能，新增拖动排序
  src/FileManager/ContainerBar.tsx
  src/FileManager/Elements/Styles.tsx
  src/FileManager/FileManager.tsx
  src/FileManager/ViewItems.tsx
  src/Redux/actions/filemanager.ts
  src/Redux/reducers/filemanager.ts
  src/Redux/store/types.d.ts
Due: prettier --write, eslint --fix

fix: right key menu and paste folder
  index.html
  public/img/logos/logo.png
  public/img/logos/minilogo.png
  public/minilogo.png
  src/FileManager/Assets/whiteTheme.js
  src/FileManager/ContainerBar.tsx
Due: prettier --write, eslint --fix

fix: fix img preview
  README.md
  README_en.md
  license
  src/FileManager/Elements/Dropzone.tsx
  src/FileManager/Elements/PopupDialog.tsx
  src/FileManager/FileManager.tsx
Due: prettier --write, eslint --fix

fix: 修复图片预览跨域问题
  src/FileManager/FileManager.tsx
Due: prettier --write, eslint --fix

test: rebase
  tsconfig.node.json
Due: prettier --write, eslint --fix

test: updata config
  tsconfig.json
Due: prettier --write, eslint --fix

test: 修改注释
  README.md
  src/FileManager/Elements/ButtonGroup.tsx
  src/FileManager/FileManager.tsx
  src/FileManager/TopBar.tsx
  src/FileManager/ViewItems.tsx
Due: prettier --write, eslint --fix

ci: add git action
  .github/main.yml
Due: none

ci: updata workflows file
  .github/workflows/main.yml
Due: none

ci: updata
  .github/workflows/main.yml
Due: none

ci: change path
  .github/workflows/main.yml
Due: none

ci: fie cicd
  .github/workflows/main.yml
Due: none

ci: fix cicd
  .github/workflows/main.yml
Due: none

ci: 变更为pr触发
  .github/workflows/main.yml
Due: none

ci: add production
  .github/workflows/main.yml
  src/Data/Config.ts
Due: prettier --write, eslint --fix

fix: dev、prod的装错的modules
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

perf: cdn加速、手动分包，打包后体积减小11.6%
  stats.html
  vite.config.ts
Due: prettier --write, eslint --fix

fix: 更新高度
  src/App.tsx
  stats.html
Due: prettier --write, eslint --fix

fix: updata height
  src/App.tsx
Due: prettier --write, eslint --fix
